html
{
    background-image: url(../images/sneuuw.jpg);
}


body
{
margin: 0%;
font-family: Arial, Helvetica, sans-serif;
background-color: darkslategrey;
font-weight: 300;
background-image: url(../images/sneuuw.jpg);

}

.container
{
    width: 80%;
    margin: 0% auto;
}

header
{
background-size: cover;
height: auto;
border: solid 2px black;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.logo
{
    float: left;
    height: 100px; 
    width: 100px;
}

nav
{
    float: right;
}

nav ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

nav li
{
    display: inline-block;
    margin-left: 75px;
    padding-top: 45px;
    position: relative;
}

nav a 
{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: darkturquoise;
}

nav a::before{
    content: "";
    display : block;
    height: 5px;
    width: 100%;
    background-color:darkturquoise;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 350ms;
}

nav a:hover::before{
    width: 100%;
}


h2{
    text-align: center;
    color: white;
}

h5
{
    text-align: center;
    color: black;
    margin: 10px;
}

.hobby
{
    text-align: center;
    display: flex;
    flex-direction: initial;
    flex-direction: row-reverse;
    justify-content: center;  
}

.voetbal
{
    text-align: center;
}

.voetbal-text
{
    background: white ;
    opacity: 0.9;
    color: black;
    width: auto;
    padding: 10px;
    height: 190px;
    width: 150px;
    
}

.voetbal-text h3
{
    color: black;
    text-align: left;
}

.fotoItem
{
    height: 200px;
    width: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

footer{
    position: absolute;
    bottom: 0;
    background-color:grey;
    width: 1510px;
    color: white;
    text-align: center;
    padding: 13px;
    height: 100px;
    
}

.alle-hobbys
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.Container1{
    display: flex;
    justify-content: start;
}
h5{
    float: right;
    padding:5px;
}






